{%extends 'navbar.html'%}
{% load static %}
{%block content%}
<div class="text-center">
    <h2>Add New Student!</h2>
    <form method="post">
        <div class="container bg-light">
            {%csrf_token %}
            <br><br>
            <label for="name"><b>Student Name</b></label>
            <input type="text" placeholder="Enter Student Name" name="name" required>
            <br><br>
            <label for="track"><b>Track </b></label>
            <input type="text" placeholder="Enter Your Track" name="track" required>
            <br><br>
            <button type="submit" class="btn btn-success">Add</button>
            <br><br>
        </div>
    </form>
</div>
{%endblock%}